@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
body {
  font-family:'Architects Daughter', cursive;
  background-image: url("https://researchprojectbenjervis.files.wordpress.com/2015/02/llk_chalkboard-background.jpg");
  color: #fff;
  text-align: center;
  padding-top: 10%;
}

a:link, a:active, a:visited, a:hover {
  color: #fff;
  text-decoration: none;
}

.form {
  background-image:url("https://researchprojectbenjervis.files.wordpress.com/2015/02/llk_chalkboard-background.jpg") !important;
  color: #fff !important;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  height:70px;
  width: 70px;
  border-radius: 50px;
  -webkit-transition: all .3s ease-in-out;
}

.form:hover {
  cursor:pointer;
}

.form:active{
  border-radius: 5px; 
  outline:none;
  width: 70px;
  -webkit-transition: all .3s ease-in-out;
}
.form:visited{
  border-radius: 5px; 
  outline:none;
  width: 70px;
  -webkit-transition: all .3s ease-in-out;
}
.form:focus {
  outline:none;
  padding-left:1%;
  width: 550px;
  -webkit-transition: all .2s ease-in-out;
}
.jumbotron{
  background:transparent;
  border-style:solid;
  border-width:4px;
  border-color:#fff;
}
.font3{
  font-size:3em;
}
h1{
  margin-bottom:10px;
  margin-top:-30px;
}
.smaller-font{
  font-size:1.8em;
}